<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 ">

                <!-- Content -->
                <h5 class="text-uppercase footer-title">WROOM</h5>
                <p class="made-with-angular">Made with Angular.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">About</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Brands</a>
                    </li>
                    <li>
                        <a href="#!">About us</a>
                    </li>
                    <li>
                        <a href="#!">Help</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Contacts</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <mdb-icon fas icon="map-marker-alt"></mdb-icon> New York, NY 99999, US
                        </p>
                    </li>
                    <li>
                        <p>
                            <mdb-icon fas icon="envelope"></mdb-icon> info@example.com
                        </p>
                    </li>
                    <li>
                        <p>
                            <mdb-icon fas icon="phone"></mdb-icon> + 99 999 999 99
                        </p>
                    </li>
                    <li class="social-media">
                        <a href="#!">
                            <mdb-icon fab icon="facebook-f"></mdb-icon>
                        </a>
                        <a href="#!">
                            <mdb-icon fab icon="twitter"></mdb-icon>
                        </a>
                        <a href="#!">
                            <mdb-icon fab icon="instagram"></mdb-icon>
                        </a>
                        <a href="#!">
                            <mdb-icon fab icon="linkedin-in"></mdb-icon>
                        </a>
                        <a href="#!">
                            <mdb-icon fab icon="youtube"></mdb-icon>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Stefan Shivarov &copy; 2022</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->