
.dropdown-menu, .dropdown-item{
    background-color: #ffea00;
}

.dropdown-item:hover{
    background-color: #292928;
    color: #ffea00;
}

.navbar-brand{
    font-size: 1.6rem;
    font-style: italic;
}

.dropdown-divider{
    background-color: #292928;
    border: 1px solid #292928;
}

.username-item{
    cursor: default;
}

.username-item:hover{
    background-color: #ffea00;
    color: #292928;
}

.authenticated{
    display: none;
}

.anonymous{
    /* display: none; */
}
@media all and (min-width: 750px){

    .navbar-nav:nth-of-type(1) {
        display: flex;
        gap: 5rem;
    }
}