*{
    box-sizing: border-box;
}

.cards-container{
    padding: 4rem 20rem;
    background-color: #292928;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards-container h1{
    color: white;
}

.profile-info{
    padding: 2rem 20rem;
    background-color: #ffea00;
}