<app-header-carousel></app-header-carousel>
<app-offers-grid></app-offers-grid>
<article class="landing-page-article ">
    <div class="img-container">
        <img src="https://www.nicepng.com/png/full/87-874952_car-loans-car-selling-png.png" alt="">
    </div>
    <div class="article-info">
        <h3>Add a vehicle for sale.</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cumque officiis, dolores voluptas quae ipsam
            provident aliquid? Tempore, necessitatibus officia?
        </p>
        <a routerLink="/offers/add">Add offer</a>
    </div>
</article>
<article class="langing-page-blog-article">
    <h3>All the information you need.</h3>
    <p>On our blog, you'll discover in-depth resources and guidance that'll help you navigate every step of your car
        buying process.</p>
    <a routerLink="/">Visit Blog</a>
</article>