div .card{
    border: none;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card-img-top{
    height: 50%;
    object-fit: cover;
}

.card a{
    padding: 0.5rem 1rem;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    align-self: center;
}

.card a:hover{
    background-color: #292928;
    color: white;
}

.col{
    margin-bottom: 2rem;
}

.body-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
}