*, *::before,*::after{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    padding: 5rem 20rem;
    background-color: grey;
}

.form-container{
    display: flex;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #ffea00;
    padding: 3rem;
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sign-up-form .form-row{
    display: flex;
    flex-direction: column;
    padding-left: 0.3rem
}

.form-container .img-container{
    flex: 1;
}

.form-container .img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sign-up-form label{
    color: black;
    font-weight: 600;
}

.sign-up-form h2{
    color: black;
    margin: 0;
    align-self: flex-start;
}

.sign-up-form input{
    background-color: #ffea00;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 0 0.5rem 0.5rem 0;
    color: black;
}

.sign-up-form .form-last .form-submit{
    border-bottom: none;
    color: #ffea00;
    background-color: #292928;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.form-last{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.form-last p{
    color: black;
}

.form-last p > a{
    color: black;
    text-decoration: underline;
}
