<div class="cards-container">
    <h1>Offers</h1>
    <div class="row row-cols-4 row-cols-md-3 g-4">
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
    </div>        
</div>